#
# Alexander Hansen Færøy <ahf@0x90.dk>
# PGP: 0x61A208E16E7CB435
#
# Git Configuration File.
#
# Most recent update: 2025/02/17 17:57:10
#

[user]
    name = Alexander Hansen Færøy
    email = ahf@0x90.dk

[includeIf "gitdir:~/src/*.torproject.org/"]
    path = .gitconfig-tor

[includeIf "gitdir:~/src/github.com/irssi/"]
    path = .gitconfig-irssi

[includeIf "gitdir:~/src/github.com/bornhack/"]
    path = .gitconfig-bornhack

[color]
    ui = true

[gpg]
    program = gpg2

[core]
    whitespace = space-before-tab, trailing-space
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes

[diff]
    renames = copy
    tool = vimdiff
    colorMoved = zebra

[difftool]
    prompt = false

[merge]
    tool = vimdiff

[push]
    default = tracking

[transfer]
    fsckobjects = true

[fetch]
    fsckobjects = true

[sendemail]
    from = Alexander Færøy <ahf@0x90.dk>
    smtpserver = /usr/bin/msmtp
    confirm = auto
    annotate = yes

[alias]
    push-all = !/home/user/.local/bin/git-push-all.sh
    pull-all = !/home/user/.local/bin/git-pull-all.sh
    merge-forward = !/home/user/.local/bin/git-merge-forward.sh
    list-tor-branches = !/home/user/.local/bin/git-list-tor-branches.sh
    pr = "!f() { git fetch -fu ${2:-$(git remote |grep ^tor-github || echo origin)} refs/pull/$1/head:tor-github/pr/$1 && git checkout tor-github/pr/$1; }; f"
    mr = "!f() { git fetch -fu ${2:-$(git remote |grep ^tor-gitlab || echo origin)} refs/merge-requests/$1/head:tor-gitlab/mr/$1 && git checkout tor-gitlab/mr/$1; }; f"

[pull]
    ff = only
    rebase = false

[init]
    defaultBranch = main
