#
# Alexander Færøy <ahf@0x90.dk>
# PGP: 0x61A208E16E7CB435
#
# Git Configuration File.
#
# Most recent update: Wed 09 Jan 2019 07:07:32 PM CET
#

[user]
    name = Alexander Færøy
    email = ahf@0x90.dk

[color]
    ui = true

[gpg]
    program = gpg2

[core]
    whitespace = space-before-tab, trailing-space
    excludesfile = ~/.gitignore

[diff]
    renames = copy
    tool = vimdiff
    colorMoved = zebra

[difftool]
    prompt = false

[merge]
    tool = vimdiff

[push]
    default = tracking

[transfer]
    fsckobjects = true

[fetch]
    fsckobjects = true

[sendemail]
    from = Alexander Færøy <ahf@0x90.dk>
    smtpserver = /usr/bin/msmtp
    confirm = auto
