*.pyc

# Mail logs, account inboxes, and mutt's temp directory.
mail/.mail/*.log
mail/.mail/accounts/
mail/.mail/mailboxes
mail/.mutt/cache/
mail/.mutt/temp/

# GnuPG related files.
gnupg/.gnupg/crls.d/
gnupg/.gnupg/private-keys-v1.d/
gnupg/.gnupg/pubring.kbx
gnupg/.gnupg/random_seed
gnupg/.gnupg/sshcontrol
gnupg/.gnupg/tofu.db
gnupg/.gnupg/trustdb.gpg
gnupg/.gnupg/.*

# Vim related files.
vim/.vim/.netrwhist
vim/.vim/spell/*
