*.pyc

# Mail logs, account inboxes, and mutt's temp directory.
mail/.mail/*.log
mail/.mail/accounts/
mail/.mutt/temp/

# GnuPG related files.
gnupg/.gnupg/crls.d/
gnupg/.gnupg/private-keys-v1.d/
gnupg/.gnupg/pubring.kbx
gnupg/.gnupg/random_seed
gnupg/.gnupg/tofu.db
gnupg/.gnupg/trustdb.gpg
